.grid-container{
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 30fr 1fr;
}
.grid-item{
    /* border: 2px solid red; */
}
#header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    box-shadow: 0px 5px gray;
    display: grid;
    grid-template-columns: 100px auto;
}
#header img{
    width: 100px;
}
#header .title-text{
    font-size: 25px;
    font-weight: 800;
}
#header .header-text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#center{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to bottom, black 0%, gray 100%);
    color: white;
}
#center .form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
#center .from-section{

}
#footer{
    background-color: gray;
    color: white;
    text-align: center;
}