<div class="grid-container">
    <div class="grid-item" id="header">
        <div class="header-image-section">
            <img src="../../../../assets/AH Symbol.jpg">
        </div>
        <div class="header-text-section">
            <div class="title-text">ADWITA HOSPITAL</div>
            <div>Multiplicity Hospital</div>
        </div>
    </div>
    <div class="grid-item" id="center">
        <div class="form-title">
            Hospital Management System Login Portal
        </div>
        <div class="form-section">
            Form area
        </div>
    </div>
    <div class="grid-item" id="footer">
        <footer>
            <div>
                Copyright &copy; www.adwitahospital.com. All rights reserved!
            </div>
        </footer>
    </div>
</div>